<div class="full-section-shadow-top"></div>
<div class="full-section-shadow-bottom"></div>				
<div class="full-section-container">					
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">							
                <p><img src="galeria/cabeza.png" alt="" height="45"></p>								
                <p class="big"><em><strong>INNOVANDO Y CREANDO PARA TI.</strong></em></p>								
            </div><!-- col -->
        </div><!-- row -->
    </div><!-- container -->					
</div><!-- full-section-container -->				
